body {
  margin: 0;
}

/* Body */
.govuk-body {
    font-family: 'nta', Arial, sans-serif;
    font-weight: 400;
    text-transform: none;
    font-size: 16px;
    line-height: 1.25;
    color: #0b0c0c;
  }
  
  @media (min-width: 40.0625em) {
    .govuk-body {
      font-size: 19px;
      line-height: 1.31579;
    }
  }

  h1 {
    text-align: center;
  }
  
  /* Header */
  .govuk-header {
    background-color: #0b0c0c;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
  }
  
  /* Header container */
  .govuk-header__container {
    max-width: 960px;
    margin: 0 auto;
    padding: 15px;
  }
  
  /* Header logo */
  .govuk-header__logo {
    display: inline-block;
  }
  
  /* Header link */
  .govuk-header__link {
    color: #ffffff;
    text-decoration: none;
  }
  
  .govuk-header__link:hover {
    color: #ffffff;
    text-decoration: underline;
  }
  
  /* Header logotype */
  .govuk-header__logotype {
    font-size: 30px;
    font-weight: 700;
  }
  
  /* Header title */
  .govuk-header__title {
    display: inline-block;
    vertical-align: middle;
    margin: 0;
    padding: 0;
  }

  /* Container */
  .container {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
  }

  .how-it-works {
    margin: 0 auto;
    max-width: 800px;
  }
  
  /* Section */
  .govuk-section {
    margin: 20px 0;
    max-width: 400px;
    width: 100%;
    background-color: #e0e0e0; /* Edited: Darkened background color to enhance visibility while maintaining accessibility */
    border-radius: 5px; /* Optional: Added border radius for card-like appearance */
    padding: 20px; /* Edited: Increased padding for card-like appearance */
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.2); /* Added: Shadow for 3D effect */
  }
  
  /* Heading */
  .govuk-heading-l {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 15px;
    text-align: center;
  }

  /* Label */
  .govuk-label {
    font-weight: 700;
    display: block;
    margin-bottom: 5px;
  }
  
  /* Input */
  .govuk-input {
    box-sizing: border-box;
    width: 100%;
    padding: 5px;
    border: 2px solid #0b0c0c;
    border-radius: 0;
  }

  .input-group {
    margin: 20px 0;
  }

  .four-day-week-input-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Button */

  .btn-container {
    text-align: center;
  }
  .govuk-button {
    background-color: #1d70b8;
    color: #ffffff;
    padding: 10px;
    border: none;
    font-weight: 700;
    margin-top: 20px;
    
  }
  
  .govuk-button:hover {
    background-color: #003078;
    cursor: pointer; 
  }
  
  /* Results */
  .govuk-results {
    margin-top: 20px;
  }
